Options +FollowSymlinks

RewriteEngine on

RewriteRule    ^jobs/([A-Za-z0-9-]+)/?$    jobs.php?jobs=$1    [NC,L]
RewriteRule    ^candidates/([A-Za-z0-9-]+)/?$    candidates.php?candidates=$1    [NC,L]
